@import "../../assets/variables.scss";

.react-training-title,
.html-title {
  text-align: center;
  font-size: 2.2em;
  padding-bottom: 12px;
  line-height: 1.5em;
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.react-training-description-wrapper,
.html-description-wrapper {
  display: flex;
  justify-content: center;
}
.react-training-description,
.html-description {
  margin-top: 0px;
  font-style: italic;
  text-align: center;
}

.react-training-project-wrapper,
.html-project-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  .react-training-project,
  .html-project {
    width: 19vw;
    background: $background-color;
    box-shadow: $box-shadow;
    margin-bottom: 40px;
    @media screen and (max-width: 1200px) {
      width: 25vw;
    }
    @media screen and (max-width: 800px) {
      width: 90vw;
    }
    .react-training-img-wrapper-wrapper,
    .html-img-wrapper-wrapper {
      margin-top: 12px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .react-training-img-wrapper,
      .html-img-wrapper {
        width: 35vw;
        @media screen and (max-width: 1200px) {
          width: 50vw;
        }
        @media screen and (max-width: 800px) {
          width: 70vw;
        }
        img {
          width: 100%;
        }
      }
    }
    .react-training-description-wrapper,
    .html-description-wrapper {
      display: flex;
      justify-content: center;
      .react-training-description,
      .html-description {
        width: 35vw;
        text-align: left;
        @media screen and (max-width: 1200px) {
          width: 50vw;
        }
        @media screen and (max-width: 800px) {
          width: 70vw;
        }

        h3 {
          letter-spacing: 2px;
          text-align: left;
        }
      }
    }
  }
}
