@import "../../assets/variables.scss";

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 800px) {
    justify-content: center;
    flex-wrap: wrap;
  }
  li {
    margin: 30px;
    @media screen and (max-width: 800px) {
      margin: 16px;
    }
    a {
      color: #6d6875;
      font-size: 20px;
    }
  }
  .active {
    background-color: $hover-color;
    padding: 10px;
    border-radius: 4px;
    color: white;
  }
}
