@import "../../assets/variables.scss";

.projects-wrapper {
  display: flex;
  justify-content: center;
  .projects {
    width: 80vw;
    line-height: 24px;
    @media screen and (max-width: 800px) {
      width: 90vw;
    }
  }
}

.project-wrapper {
  background: $background-color;
  box-shadow: $box-shadow;
  padding: 20px;
  margin-bottom: 80px;
}

.project-title {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.title-and-links {
  padding: 8px 20px;
  text-align: center;

  .project-links {
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 0px;
    a {
      text-decoration: underline;
    }
  }
}

.description-wrapper {
  display: flex;
  justify-content: center;
}
.description {
  width: 700px;
  font-style: italic;
}

.app-features-list {
  padding-left: 8px;
  li {
    list-style-type: none;
    display: flex;
    i {
      padding-top: 2px;
    }
    .project-bullet-points {
      padding-left: 12px;
    }
  }
}

.main-project {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}

.budget-app {
  padding: 0px 3vw;
}

.projects-img-wrapper-wrapper {
  display: flex;
  justify-content: center;
  .projects-img-wrapper {
    width: 550px;
    margin: 0px;
    @media screen and (max-width: 800px) {
      width: 70vw;
    }
    img {
      width: 100%;
    }
  }
}

/* Style for the budget app images modal. Need to tidy up styling in the future. */
@import "~react-image-gallery/styles/css/image-gallery.css";
.budget-img-wrapper-wrapper {
  display: flex;
  justify-content: center;
  .budget-img-wrapper {
    width: 70vw;
    .image-galery {
      max-width: 100%;
    }
    .image-gallery-thumbnail-inner {
      height: 40%;
    }
    .image-gallery-thumbnail-image {
      max-height: 100%;
    }

    .image-gallery-thumbnail.active {
      border: 4px solid #7bcbc4;
    }
    .image-gallery-thumbnail:hover {
      border: 2px solid #51e4d7;
    }

    @media screen and (max-width: 500px) {
      .image-gallery-description {
        bottom: initial;
      }
    }
  }
}
/* Style for budget app images modal end*/

.lhs,
.rhs {
  margin-left: 40px;
  @media screen and (max-width: 1200px) {
    padding: 0px 5vw;
    margin-left: 0px;
  }
  h3 {
    margin-top: 16px;
    letter-spacing: 2px;
  }
}
