@import "../../assets/variables.scss";

.projects-wrapper {
  display: flex;
  justify-content: center;
  .projects {
    width: 80vw;
    line-height: 24px;
    @media screen and (max-width: 800px) {
      width: 90vw;
    }
  }
}

.project-wrapper {
  background: $background-color;
  box-shadow: $box-shadow;
  padding: 20px;
  margin-bottom: 80px;
}

.title-and-links {
  padding: 8px 20px;
  text-align: center;
  .project-title {
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .project-links {
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 0px;
    a {
      text-decoration: underline;
    }
  }
  .description-wrapper {
    display: flex;
    justify-content: center;
    .description {
      width: 600px;
      font-style: italic;
    }
  }
}

.app-features-list {
  padding-left: 8px;
  li {
    list-style-type: none;
    display: flex;
    i {
      padding-top: 2px;
    }
    .project-bullet-points {
      padding-left: 12px;
    }
  }
}

.main-project {
  display: flex;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}

.budget-app {
  padding: 0px 3vw;
}

.projects-img-wrapper-wrapper {
  display: flex;
  justify-content: center;
  .projects-img-wrapper {
    width: 600px;
    margin: 0px;
    @media screen and (max-width: 800px) {
      width: 70vw;
    }
    img {
      width: 100%;
    }
  }
}

.budget-img-wrapper-wrapper {
  display: flex;
  justify-content: center;
  .budget-img-wrapper {
    width: 600px;
    margin: 0px;
    img {
      width: 100%;
    }
  }
}

.lhs,
.rhs {
  margin-left: 40px;
  @media screen and (max-width: 1200px) {
    padding: 0px 5vw;
    margin-left: 0px;
  }
  h3 {
    margin-top: 16px;
    letter-spacing: 2px;
  }
}
