@import "../../assets/variables.scss";

.pics-and-intro-wrapper {
  .pic-and-intro {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    align-items: center;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
      text-align: center;
    }
    .about-me-pic {
      width: 200px;
      @media screen and (max-width: 500px) {
        width: 150px;
      }
      img {
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0px 20px $heading-2-color;
        filter: grayscale(30%);
      }
    }
    .intro {
      display: flex;
      flex-direction: column;
      padding-left: 12px;
      width: 40vw;
      @media screen and (max-width: 500px) {
        width: 80vw;
      }
      .tech-wrapper {
        padding-top: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  .journey-to-tech-wrapper {
    display: flex;
    justify-content: center;
    .journey-to-tech {
      padding-top: 52px;
      width: 55vw;
      @media screen and (max-width: 1200px) {
        padding-top: 32px;
        h1 {
          text-align: center;
        }
      }
      @media screen and (max-width: 500px) {
        width: 80vw;
        h1 {
          font-size: 24px;
        }
      }
      .journey-to-tech-details ul {
        padding-left: 0px;
        li {
          list-style-type: none;
          display: flex;
          i {
            padding-top: 8px;
          }
          .wild-code-school-bullet-points {
            padding-left: 12px;
          }
        }
      }
    }
  }
}
