@import "../../assets/variables.scss";

.footer-section {
  background-color: $hover-color;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  .footer-socials {
    padding-left: 0px;
    li {
      list-style-type: none;
      padding: 5px;
      display: inline-block;
      a {
        display: inline-block;
        height: 44px;
        width: 44px;
        background-color: white;
        color: $heading-2-color;
        border-radius: 50%;
        margin: 0 2px;
        text-align: center;
        line-height: 42px;
        font-size: 28px;
        transition: all 0.5s ease;
      }
      a:hover {
        box-shadow: 0 0px 50px $heading-2-color;
      }
    }
  }
}
