.footer-section {
  background-color: rgb(101, 101, 101);
  padding-bottom: 0.5%;
  text-align: center;
}
.footer-socials {
  padding: 20px 10px 5px 10px;
  li {
    list-style-type: none;
    padding: 5px;
    display: inline-block;
    a {
      display: inline-block;
      height: 44px;
      width: 44px;
      background-color: #ffffff;
      color: #352103;
      border-radius: 50%;
      margin: 0 2px;
      text-align: center;
      line-height: 42px;
      font-size: 28px;
      transition: all 0.5s ease;
    }
    a:hover {
      box-shadow: 0 0 10px #000;
    }
  }
}
