@import "../src/assets/variables.scss";

* {
  font-family: "Roboto", sans-serif;
  outline: none;
  box-sizing: border-box;
  color: $heading-1-color;
  text-decoration: none;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.home-content {
  display: flex;
}

body,
html {
  height: 100%;
  margin: 0px;
}
