@import "../src/assets/variables.scss";

* {
  font-family: "Roboto", sans-serif;
  outline: none;
  box-sizing: border-box;
  color: $heading-1-color;
  text-decoration: none;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

body,
html {
  height: 100%;
  margin: 0px;
}

.pics-skills-tools-container {
  width: 250px;
  border: 1px solid black;
}

.my-pic {
  width: 200px;
  img {
    width: 100%;
    border-radius: 50%;
  }
}
