@import "../../assets/variables.scss";

.about-me-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  .about-me {
    font-size: 1.1em;
    width: 70vw;
    padding: 20px 50px;
    background: $background-color;
    box-shadow: $box-shadow;
    line-height: 32px;
    @media screen and (max-width: 700px) {
      width: 90vw;
    }
  }
}

.links {
  text-decoration: underline;
}

.links:hover {
  color: grey;
}
