.personal-wrapper {
  display: flex;
  justify-content: center;
  .personal {
    width: 55vw;
    ul {
      padding-left: 0px;
      li {
        list-style-type: none;
        display: flex;
        i {
          padding-top: 8px;
        }
        .personal-bullet-points {
          padding-left: 12px;
        }
      }
    }
  }
}
